body
{
background-image:url("../img/dmitri.jpg");
margin: 0;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;

}

#container
{
	margin:7em auto;
	width:23em;
}

#header{
	width: 100%;
	font-size: 1.7em;
	margin: 0;
	background-color: steelblue;
	color: white;
	text-transform: uppercase;
	color:white;
	box-sizing: border-box;
	padding: 0.5em 0.5em 0.5em 1em;
	font-weight: normal;
}
.fa-pencil{
	margin-left: 0.2em;
}
.fa-plus,.fa-question-circle{
	float: right;
	margin-left:0.2em;
}
.fa-plus:hover, .fa-pencil:hover{
    cursor: pointer;
}
.fa-question-circle:hover{
	cursor: cell;
}

#todoInput{
	box-sizing: border-box;
	background-color:#ecf2f7;
	font-size:1.4em;
	box-sizing: border-box;
	width:100%;
	padding: 0.5em 0.5em 0.5em 1em;
}
#todoInput:focus {
	background-color: white;
	color:steelblue;
	border:2px solid steelblue;
}

ul{
	list-style-type: none;
	background-color: #ffffff;
	padding: 0;
	margin: 0;
}
li{
	font-size: 1em;
	width: 100%;
	box-sizing: border-box;
	height: 2.8em;
}
.bin{
	opacity: 0;
	padding: 0.7em;
	text-align: center;
	background-color: red;
	color:white;
	height: 1.4em;
	width: 0.4em;
	display: inline-block;
	transition: 0.2s linear width;
}


li:nth-child(even){
background-color: #c2c2c2;
}

li:hover span{
	margin-right: 2.3em;
	width: 1.4em;
	opacity: 1.0;
}

